<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\TimonBabz\Documents\NetBeansProjects\library-system1\dist\LibraryManagementSystem.jar</jar>
  <outfile>C:\Users\TimonBabz\Documents\NetBeansProjects\library-system1\dist\Too Library System.exe</outfile>
  <errTitle>Too Library System : Please install Java</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\TimonBabz\Documents\NetBeansProjects\library-system1\Bookslogo.ico</icon>
  <singleInstance>
    <mutexName>TooLibrarySystem</mutexName>
    <windowTitle>Too Library System</windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>2.2.0.0</fileVersion>
    <txtFileVersion>2.2.0.0</txtFileVersion>
    <fileDescription>Too Library System</fileDescription>
    <copyright>NIL</copyright>
    <productVersion>2.2.0.0</productVersion>
    <txtProductVersion>2.2.0.0</txtProductVersion>
    <productName>TooLibrarySystem</productName>
    <companyName>TOO Studios</companyName>
    <internalName>TooLibrarySystem</internalName>
    <originalFilename>Too Library System.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>